<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ottawa Adventures</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="script/script.js" defer></script>
</head>
    <!--Nav bar-->
    <div class="nav">
        <img class="nav-logo" src="images/logo.png" alt="black and white logo of Ottawa's parliament"/>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li>
                <div class="nav-dropdown">
                    <button class="nav-dropbtn">Build Your Adventure</button>
                    <div class="nav-dropdown-content">
                        <a href="winter.php">Winter Activities</a>
                        <a href="summer.php">Summer Activities</a>
                        <a href="night.php">A Night Out</a>
                        <a href="food.php">Yummy Food</a>
                    </div>
                </div>
            </li>
            <li><a href="post.php">Blog</a></li>
            <li><a href="about.php">About</a></li>
            <li><a href="faq.php">FAQ</a></li>
        </ul>
    </div>
    <!--Blog post-->
    <div class="blog-post">
        <h1>Blog Post</h1>
        <!--Comments form-->
        <div class="comment-form">
            <h5 class="comment-form-header">Leave a comment:</h5>
            <div class="comment-form-body">
                <form method="post" onsubmit="return doComment(this);">
                    <input type="" name="post_id" value="<%= post._id %>"/>
                    <div class="form-group">
                        <input class="form-control" name="username"/>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <script>
            function doComment(form) {
                $.ajax({
                    url: "/do-comment",
                    method: "post",
                    data: {username: form.username.value, comment: form.comment.value}
                })
                return false;
            }
        </script>
    </div>

</body>
</html>