body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*nav*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-logo {
    padding: 14px 31px;
    width: 218px;
    height: 52px;
}

.nav ul {
    margin: 30px 50px;
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #94B8E8;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.nav ul li {
    display: inline-block;
    padding-left: 34px;
}

.nav-dropbtn {
    background-color: white;
    color: #94B8E8;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: none;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #E6A3B7;
    min-width: 190px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.nav-dropdown-content a {
    padding: 8px 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-dropdown-content a:hover {
    background-color: #AD6E82;
    border-radius: 10px;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown:hover .nav-dropbtn {
    color: #3D4756;
}

.nav a:hover {
    color: #3D4756;
}

/*blog articles home page*/
.blog-home {
    margin-left: 50px;
}

/*blog articles home page header*/
.blog-home h1 {
    font-size: 48px;
    font-weight: bold;
    color: #3D4756;
}

.blog-home-header p{
    font-size: 16pt;
    color: #3D4756;
}

#search-box {
    border: 1px solid #3D4756;
    border-radius: 10px;
    font-size: 16pt;
    color: #3D4756;
}

#searchResults a{
    font-size: 16pt;
    color: #3D4756;
    text-decoration: none;
}

.blog-home-btn {
    font-size: 18pt;
    border-radius: 20px;
    background-color: #94B8E8;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.blog-home-header button:hover {
    background-color: #3D4756;
}

.blog-home-btn a {
    text-decoration: none;
    color: white;
}

/*blog home page articles*/
.blog-home-article {
    background-color: #AD6E82;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.blog-home-article-title {
    padding-top: 20px;
    font-size: 16pt;
    color: white;
}

.blog-home-article-date {
    font-size: 14pt;
    color: white;
}

.blog-home-article-description {
    font-size: 16pt;
    color: white;
}

.blog-home-article-btns {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.article-read-btn {
    font-size: 14pt;
    border-radius: 20px;
    background-color: #3D4756;
    border: none;
    padding: 5px;
}

.article-delete-btn {
    font-size: 14pt;
    border-radius: 20px;
    background-color: #3D4756;
    border: none;
    color: white;
    padding: 5px;
}

.blog-home-article-btns a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.blog-home-article-btns button:hover{
    background-color: #242a35;
}

/*individual article page*/
.article {
    color: #242a35;
    margin-left: 50px;
}

.article-btn {
    font-size: 14pt;
    border-radius: 20px;
    background-color: #94B8E8;
    border: none;
    color: white;
    padding: 5px;
    margin: 10px 0px 30px 0px;
}

.article-btn a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.article-buttons button:hover {
    background-color: #242a35;
}

.article-text {
    font-size: 14pt;
    margin-right: 60px;
}

.like {
    background-color: #E6A3B7;
    color: #242a35;
    margin-top: 20px;
    font-size: 11pt;
    border-radius: 10px;
}

.liked {
    background-color: #AD6E82;
    color: white;
}

/*comments form*/
.comment-form-header {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 10px;
}
.form-control {
    width: 40%;
    font-size: 12pt;
    border-radius: 8px;
    border: 1px solid lightgray;
    margin: 5px 0px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: #3D4756;
}

.comment-submit-btn {
    font-size: 12pt;
    border-radius: 10px;
    background-color: #3D4756;
    border: none;
    color: white;
    padding: 5px;
}

.comment-submit-btn:hover {
    background-color: #242a35;
}
/*create new article page*/
.new-article {
    color: #242a35;
    margin-left: 50px;
}

.new-article .form-group {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
}

.new-article .form-control {
    width: 90%;
    border-radius: 8px;
    border: 1px solid lightgray;
    margin: 10px 0px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.cancel-btn {
    font-size: 12pt;
    border-radius: 10px;
    background-color: #E6A3B7;
    border: none;
    color: white;
    padding: 5px;
}

.cancel-btn:hover {
    background-color: #AD6E82;
}

.save-btn {
    font-size: 12pt;
    border-radius: 10px;
    background-color: #94B8E8;
    border: none;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.save-btn:hover {
    background-color: #3D4756;
}

.new-article a {
    text-decoration: none;
}
